{% extends "AppPagina/padre.html" %}

{% load static %}
 <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            
                            {% block boton %}
                            <a class="btn btn-danger" href="{% url 'BlogFormulario' %}">Crear nueva receta</a>
                            {% endblock %}
                            {% block titulo %}

                                        {% block contenido %}
                                            {% for post in posteos %}
                            <section class="bg-light py-5" id="accounts/signup"> 
                                    <div class="text-center mb-5"> 
                                        
                                        <div class="post block">
                                            <h2 class="subtitle"> {{ post.titulo }} </h2>
                                            <small>Posteado el {{ post.date_added }} </small>

                                            <p>{{ post.intro }}</p>
                                            <a href="{% url 'leer_mas' post.slug %}">Leer mas</a>

                                        </div>
                                    </div>
                                </div>           
                            </section>      
                                            {% endfor %}
                                        {% endblock %}
          
                        </div>                
                    </div>
                </div>
            </div>
        </header>
        
                            {% endblock %}