{% extends "AppPagina/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="display-5 fw-bolder text-white mb-2">Prueba recetas de todo el mundo!</h1>
{% block subtitulo %}
<h3 class="display-7 fw-bolder text-primary mb-2"> {{ mensaje }} </h3>
{% endblock %}
<p class="lead text-white-50 mb-4">No sabés que hacer para la cena de esta noche? Registrate hoy para ver recetas de nuestros usuarios! (Y es gratis!)</p>

{% endblock %}


{% block subtituloantiguo! %}
<h1 class="mb-5">Aca esta mi subtitulo</h1>
<h1> {{ mensaje }} </h1>
{% endblock %}