{% extends "AppPagina/padre.html" %}

{% load static %}
 <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            {% block titulo %}
                            <section class="bg-light py-5" id="accounts/signup"> 
                                <div class="container px-5 my-5 px-5">
                                    <div class="text-center mb-5">
                                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                                        <h2 class="fw-bolder">Ingresa tus datos</h2>                                        
                                            {{ mensaje }}
                                            {{ error }}
                                            <!--action: con que vista voy a procesar lo que mandan-->
                                            <form action="{% url 'login' %}" method="POST">
                                                
                                                
                                                <table>
                                                    {{ form.as_table }}
                                                </table>

                                                <input type="submit" value="Ingresar Usuario"> {% csrf_token %}
                                            
                                            </form>
                                    <div class="row gx-5 justify-content-center">
                                        <div class="col-lg-6">
                                            </div>
                                        </div>
                                    </div>
                                 </div>           
                            </section>                
                        </div>                
                    </div>
                </div>
            </div>
        </header>
                            {% endblock %}